<% if user_is_authorized_to_create? %>
  <div class="wiki-new">
    <h1>New Question</h1>
    <div class="row">
        <div class="col-md-4">
            <p>Code Overflow rules</p>
            <ul>
                <li>Don't be a jerk.</li>
                <li>Ask question anyone can answer!</li>
            </ul>
        </div>
        <div class="col-md-8">
            <%= form_for @wiki do |f| %>
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, class: 'form-control', placeholder: "Enter title" %>
                </div>
                <div class="form-group">
                    <%= f.label :body %>
                    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter body" %>
                </div>
                <div class="form-group">
                    <%= f.label :private, class: 'checkbox' do %>
                        <%= f.check_box :private %> Private question
                    <% end %>
                </div>
                <div class="form-group">
                    <%= render partial: 'collaborators/form', locals: { f: f, collaborators: @wiki.collaborators } %>
                </div>
                <div class="form-group">
                    <%= f.submit "Save", class: 'btn btn-success' %>
                </div>

            <% end %>
        </div>
    </div>
  </div>
<% end %>
